ul, ol {
  padding: 0 0 0 1em;
  margin: 0 0 1em;
  max-width: 32rem;
}

.post-list {
  margin: 0 0 3em;
}

.list-contacts li {
  display: inline-block;
  list-style: none;
  margin: 0 1em 0 0;

  @media all and (max-width: $screen-mid) {
    display: block;
    text-align: left;
    margin: 0;
  }
}

.list-contacts li:last-child {
  margin: 0;
}

.list-contacts-tag {
  @media all and (max-width: $screen-mid) {
    display: inline-block;
    min-width: 4em;
  }
}

.post-list--short h3 {
  font-weight: normal;
  line-height: 1.25;
  margin: 0 0 1em;
}

