p {
  text-align: left;
  margin: 0 0 1em;
  max-width: 32rem;
}

h1,
h2,
h3,
h4, {
  color: $black;
  margin: 0 0 1em;
}

h1, .h1-like {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.125;
  margin: 1em 0;
}

h2, .h2-like {
  font-size: 1.6em;
  font-weight: 600;
  line-height: 1.2;
  margin: 1.25em 0 0.62em
}

h3, .h3-like {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5;
  margin: 1.66em 0 0.83em;
}

.section-title {
  border-left: 0.5em solid $blue;
  padding-left: 0.25em;
  margin-left: -0.75em;
}

strong {
  font-weight: bold;
}

blockquote {
  border-left: 1px dotted $grey;
  margin: 0;
  padding-left: 1em;
}

pre {
  overflow-x: auto;
  margin: 2em 0;
}

pre,
code {
  font-size: $medium-font-size;
  font-family: $monospace;
  @media screen and (max-width: $screen-mid) {
    font-size: $small-font-size;
  }
  @media screen and (max-width: $screen-sml) {
    font-size: 12px;
  }
}

p code,
li code {
  color: $green;
  font-size: 0.8em;
  font-family: $monospace;
  padding: 0 0.25em;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.article {
  margin: 0 auto 3em;
}

.date {
  font-size: $small-font-size;
}

.secondary {
  color: $grey;
}

.article-title {
  @media (max-width: $screen-sml) {
    margin: 0.5em 0 1em;
  }
}
