$base-font-family:      "Fira Sans", sans-serif;
$monospace:             monospace;
$large-font-size:       19px;
$medium-font-size:      16px;
$small-font-size:       14px;
$base-line-height:      1.5;

$radius:                4px;

// colors
$text-color:          #383838;
$background-color:    #fff;
$black:               #222;
$white:               #fff;
$red:                 #dd2222;
$red-txt:             #aa3333;
$green:               #008844;
$green-dark:          #005533;
$blue:                #2233dd;
$blue-dark:             darken($blue, 10%);
$blue-light:          #2255ff;
$purple:              #6600bb;
$purple-dark:         darken($purple, 10%);
$grey:                #777;
$grey-light:            lighten($grey, 40%);
$grey-dark:             darken($grey, 20%);

$yellow:             #ffee66;
$background-yellow:  #f3e59c;
$orange:             #ff5533;
$orange-light:       #ffdd66;
$night:              #200044;

// sceen sizes
$screen-big:            1024px;
$screen-mid:            768px;
$screen-sml:            568px;