{{define "mastheads"}}
<section class="">

<div class="wrapper">

  <h2 class="section-title">Mastheads</h2>
  <p>Mastheads are pieces of content on the top of a home page.
    It's where the headline and sub-headline/bullet-points with your selling proposition are presented.</p>

  <p>The main goal is to make it impactful &mdash; catch the visitor's eye and clearly present the message</p>

  <p>Other issue is to create it without any extra fonts or fancy scripts.
    With half-decent wi-fi and cheap smartphones they will slow down the performance.</p>

<div class="masthead">
  
  <div class="masthead-title masthead-title--colored">The <span class="blue">Quick Brown Fox</span><br>Jumps Over the Lazy Dog</div>
  <div class="masthead-subtitle">A Tiny Bird Sits on a Kangaroo</div>
  <div class="masthead-subtext">
    <p>Three and Five 75% Yogurt.</p>

  </div> 

</div>

<div class="masthead center">
  
  <div class="masthead-title masthead-title--colored">The <span class="orange">Quick Brown Fox</span><br>Jumps Over the Lazy Dog</div>
  <div class="masthead-subtitle">A Tiny Bird Sits on a Kangaroo</div>
  <div class="masthead-subtext masthead-subtext--center">
    <p>Three and Five 75% Yogurt.</p>
  </div> 

</div>

<div class="masthead masthead--grid">
  <div class="col col-50 masthead-pic">
     <img src="assets/dummy.png">
  </div>
  
  <div class="col col-50">
    <div class="masthead-title masthead-title--colored">The Quick Brown Fox<br>Jumps Over the Lazy Dog</div>
    <div class="masthead-subtitle masthead-subtitle">A Tiny Bird Sits on a Kangaroo</div>
    <div class="masthead-subtext">
    <p>Three and Five 75% Yogurt.</p>
    </div> 
  </div>
</div>
<i>In the above example I resigned from using the orange highlight. I wanted to limit visual competition against the picture.</i>

</div>

<div class="masthead center masthead--background">
  <div class="masthead-title masthead-title--colored">The <span class="white">Quick Brown Fox</span><br>Jumps Over the Lazy Dog</div>
  <div class="masthead-subtitle">A Tiny Bird Sits on a Kangaroo</div>

  <div class="masthead-subtext masthead-subtext--center">
    <p>Three and Five 75% Yogurt.</p>
  </div> 
</div>

<div class="wrapper">
<div class="masthead">
  <div class="masthead-title masthead-title--colored">
   The<span class="orange">
   Quick Brown Fox</span> Jumps Over the Lazy Dog.
   A <span class="blue">Tiny Bird</span>
   Sits on a Kangaroo.</div>

   <div class="masthead-subtitle masthead-subtitle">
    A Tiny Bird
    Sits on a Kangaroo. Three and Five 75% Yogurt.
  </div>
</div>
</div>

</section>
{{end}}